@charset "utf-8";

html,
body {
  scroll-behavior: smooth;
}

/* 메인 콘텐츠 영역 */
section {
  padding: 40px 0 50px;
}

section .main-title {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.7;
  text-align: center;
}

section .main-title span {
  font: inherit;
  color: #E81013;
}

section .main-desc {
  font-family: "Nanum Myeongjo", "Noto Sans", '맑은 고딕', arial, sans-serif;
  font-size: 0.8125rem;
  line-height: 1.6;
  text-align: center;
}

section .main-btn {
  display: block;
  width: 100px;
  margin: auto;
  padding: 4px 0;
  font-size: 0.75rem;
  line-height: 1.7;
  background: #DCD6C0;
  text-align: center;
}

/* 1. 메인 슬라이드 */
.slide {
  height: 90vh;
  padding: 0;
}

.slide h2 {
  display: none;
}

.slide .mainSlide {
  height: 100%;
}

.mainSlide .swiper-slide {
  position: relative;
  /* height: 90vh; */
  overflow: hidden;
}

.mainSlide .swiper-slide::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
}

.mainSlide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mainSlide h3,
.mainSlide p {
  position: absolute;
  z-index: 100;
  width: 100%;
  text-align: center;
  color: #fff;
}

.first-slide h3,
.first-slide p {
  display: none;
}

.mainSlide .first-slide:before {
  display: none;
}

.mainSlide h3 {
  font-size: 26px;
  top: 40%;
}

.mainSlide p {
  font-size: 0.9rem;
  font-family: '바탕체';
  font-weight: bold;
  top: 47%;
}

.mainSlide .swiper-pagination-bullet {
  transition: 0.7s;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background: #000000 !important;
}

.mainSlide .swiper-pagination-bullet-active {
  background: #ff0000 !important;
  width: 50px;
  height: 10px;
  border-radius: 10px;
}

/* 2. 파스쿠찌 신제품 소개 */
.new-product .list {
  display: flex;
  justify-content: space-between;
}

.new-product .list li {
  width: 33%;
  text-align: center;
}

.new-product .list li a img {
  width: 70%;
}

.new-product .list li a dl {
  text-align: center;
}

.new-product .list li a dl dt {
  font-size: 0.8rem;
  font-weight: bold;
  line-height: 1.5;
}

.new-product .list li a dl dd {
  font-size: 0.75rem;
  line-height: 1.2;
}

/* 3. 브랜드 해리티지 */
.brand-heritage {
  background: url('../images/brand_back.jpg') no-repeat center / 100%;
}

.brand-heritage .main-title,
.brand-heritage .main-desc {
  color: #fff;
}

.brand-heritage .main-title {
  margin-bottom: 33px;
}

.brand-heritage .main-desc {
  margin-bottom: 96px;
  font-size: 0.875rem;
  line-height: 1.5;
}

/* 4. 이벤트 */
.event {
  padding: 40px 10px;
}

.event .main-desc {
  margin-bottom: 14px;
}

.event .event-img {
  width: 100%;
  margin-bottom: 7px;
}

.event .desc {
  font-size: 0.875rem;
  line-height: 1.7;
  text-align: right;
}

.event .date {
  display: block;
  margin-bottom: 33px;
  font-size: 0.75rem;
  line-height: 1.7;
  text-align: right;
}

.event .main-btn {
  background: #AB7656;
  color: #fff;
}

/* 5. 브랜드 스토리 */
.brand-stroy {
  background: url('../images/brand_story_back.jpg') no-repeat center / 100%;
  padding: 0;
}

.brand-stroy a {
  display: block;
  padding: 40px 0;
}

.brand-stroy .main-title,
.brand-stroy .desc {
  color: #fff;
}

.brand-stroy .desc {
  font-size: 0.75rem;
  line-height: 1.7;
  text-align: center;
}

/* 6. 스토어 */
.store .main-desc {
  margin-bottom: 15px;
}

.store .search-box {
  padding: 10px 40px;
  background: #AB7656;
  position: relative;
}

.store .search-box input {
  width: 100%;
  padding: 0 40px 0 20px;
  line-height: 34px;
  border-radius: 50px;
  border: none;
}

.store .search-box label {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 50px;
}

.store .search-box label {
  font-size: 1.375rem;
}

.store .list li {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.store .list li:nth-child(1) {
  background-image: url('../images/store01.jpg');
}

.store .list li:nth-child(2) {
  background-image: url('../images/store02.jpg');
}

.store .list li a {
  display: block;
  padding: 60px 0 40px;
  color: #fff;
  text-align: center;
}

.store .list li dl {
  line-height: 1.2;
}

.store .list li dl dt {
  font-size: 1rem;
  font-weight: bold;
}

.store .list li dl dd {
  font-size: 0.8125rem;
}

/* 7. 인스타그램 */
.insta h2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.insta h2 img:nth-child(2) {
  height: 50px;
}

.insta .list {
  display: flex;
  flex-wrap: wrap;
}

.insta .list li {
  width: 33.33%;
}

.insta .list li a {
  width: 100%;
  height: 100%;
}

.insta .list li a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* top */
.top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 20px;
  right: 15px;
  z-index: 10;
  width: 36px;
  height: 36px;
  font-size: 0.75rem;
  background: #D9D9D9;
  opacity: 0;
  transition: 0.3s;
}

.top.on {
  opacity: 1;
}