$bgcolor_g: #ccc;
$bgcolor_dark_g: #333;
$time: 0.5s;

@mixin toggle_b {
  width: 40px;
  height: 40px;
  display: block;
  position: relative;
  cursor: pointer;
}

@mixin bar {
  width: 38px;
  height: 3px;
  display: inline-block;
  position: absolute;
  left: 1px;
  transition: $time;
}

.navi {
  .toggle_btn {
    border: 1px solid $bgcolor_g;
    @include toggle_b();

    .bar {
      background: $bgcolor_dark_g;
      @include bar();

      &1 {
        top: 5px;
      }

      &2 {
        top: 18px;
      }

      &3 {
        bottom: 5px;
      }
    }
  }

  #toggle:checked {
    +.toggle_btn {
      .bar1 {
        transform: rotate(45deg) translate(10px, 10px);
      }

      .bar2 {
        display: none;
      }

      .bar3 {
        transform: rotate(-45deg) translate(10px, -10px);
      }
    }
  }
}

.rotate1 {
  transform: rotate(45deg) translate(10px, 10px) !important;
}

.none {
  display: none !important;
}

.rotate2 {
  transform: rotate(-45deg) translate(10px, -10px) !important;
}