@charset "utf-8";

.main_visual {
  position: relative;
  width: 100%;
  overflow: hidden;
  /* height:70vh; 높이 상대단위 */
}

.main_visual .swiper {
  position: relative;
  width: 100%;
  height: 100vh;
}

.main_visual>h2 {
  display: none;
}

.main_visual img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main_visual .swiper-pagination-bullet {
  width: 50px;
  height: 10px;
  border-radius: 10px;
}

/* con common */
#cont1,
#cont2 .inner,
#cont3,
#cont4,
#cont5 {
  width: 1200px;
  margin: 20px auto;
  /* 화면 중앙에 콘텐츠 배치 */
  padding: 40px 0;
  /* background-color: #cccccc; */
}

.c_title,
.sub_title,
.tab_menu {
  text-align: center;
}

.c_title {
  font-size: 30px;
  line-height: 40px;
}

.sub_title {
  margin-bottom: 40px;
  font-size: 16px;
  font-family: '바탕체', sans-serif;
}

.more_btn a {
  display: block;
  width: 130px;
  height: 32px;
  margin: 70px auto 0;
  border: 1px solid #211613;
  box-sizing: border-box;
  color: #211613;
  font-size: 14px;
  line-height: 32px;
  background: #fff;
  transition: 0.3s;
  text-align: center;
}

.more_btn a:hover {
  border-color: transparent;
  background-color: #dd1835;
  color: #fff;
}

.swiper-button-next,
.swiper-button-prev {
  color: #dd1835;
}

.swiper-pagination-bullet-active {
  background: #dd1835;
}

/* 2. PASCUCCI 스토리 */
.tab_menu input[type="radio"] {
  display: none;
}

.tab_menu .menu_btn {
  display: inline-block;
  width: 100px;
  margin: 0 10px;
  padding: 6px 0;
  font-size: 16px;
  border-radius: 20px;
  cursor: pointer;
  background-color: #211613;
  color: #FAF9F9;
}

.tab_menu input[type="radio"]:checked+.menu_btn {
  background-color: #dd1835;
}

.tab_menu .season_m,
.tab_menu .hit_m {
  display: none;
  margin-top: 50px;
}

.tab_menu #tab_01:checked~.season_m,
.tab_menu #tab_02:checked~.hit_m {
  display: block;
}

.tab_menu>div .swiper .img-box {
  width: 220px;
  height: 250px;
  margin: auto;
}

.tab_menu>div .swiper .img-box img {
  width: 100%;
}

/* 이벤트 */
#cont2 {
  background: #efefef;
}

#cont2 .inner {
  position: relative;
}

.mySwiper4 {
  width: 1030px;
  margin: auto;
}

.mySwiper4 .swiper-slide {
  /* width: 330px; */
  height: 200px;
}

.mySwiper4 .swiper-slide img {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#cont2 .swiper-pagination {
  bottom: 100px;
}

#cont2 .swiper-pagination-bullet {
  transition: 0.5s;
}

#cont2 .swiper-pagination-bullet-active {
  width: 50px;
  border-radius: 10px;
}

/* 뉴스 */
.new-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.new-list li a {
  display: flex;
  justify-content: space-between;
  width: 590px;
  padding: 20px;
  box-sizing: border-box;
  background: #efefef;
}

.new-list li a .img {
  overflow: hidden;
  width: 170px;
  height: 170px;
}

.new-list li a .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s;
}

.new-list li a .txt {
  position: relative;
  width: calc(100% - 170px - 20px);
}

.new-list li a .txt h3 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 20px;
}

.new-list li a .txt span {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 11px;
  color: #666;
}

.new-list li:hover a {
  text-decoration: underline;
}

.new-list li:hover a .img img {
  transform: scale(1.1);
}

/* 파스쿠찌 */
#cont4 {
  padding-bottom: 100px;
}

.content_wrap {
  margin-top: 50px;
}

.content_wrap ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.content_wrap ul li {
  width: 290px;
  height: 290px;
  border-radius: 50%;
  border: 2px solid #fff;
  transition: 0.5s;
}

.content_wrap ul li::before {
  content: '';
  display: block;
  width: 52px;
  height: 32px;
  background: url('../images/tri.png') no-repeat center / cover;
  position: absolute;
  top: 312px;
  z-index: 10;
  opacity: 0;
  transition: 0.3s;
}

.content_wrap ul li:nth-child(1):before {
  left: 120px;
}

.content_wrap ul li:nth-child(2):before {
  left: 580px;
}

.content_wrap ul li:nth-child(3):before {
  right: 120px;
}

.content_wrap ul li .circle {
  width: 280px;
  height: 280px;
  border-radius: 50%;
  background-color: #6A1820;
  text-align: center;
  transform: translate(5px, 5px);
  transition: 0.5s;
}

.content_wrap ul li .circle a {
  display: block;
  padding-top: 80px;
}

.content_wrap ul li .circle a img {
  width: 50px;
  padding-bottom: 20px;
  transition: 0.5s;
}

.content_wrap ul li .circle a span {
  display: block;
  color: #fff;
  font-size: 18px;
}

.content_wrap ul li .caption {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1200px;
  height: 150px;
  padding: 0 30px;
  border: 1px solid #6A1820;
  position: absolute;
  top: 331px;
  left: 0;
  background-color: #fff;
  border-radius: 100px;
  text-align: center;
  font-size: 16px;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
}

/* hover */
.content_wrap ul li:hover {
  border-color: #6A1820;
}

.content_wrap ul li:hover .circle {
  background-color: #94232e;
}

.content_wrap ul li:hover .circle a img {
  transform: translateY(-15px) scale(1.2);
}

.content_wrap ul li:hover::before {
  opacity: 1;
}

.content_wrap ul li:hover .caption {
  visibility: visible;
  opacity: 1;
}