@charset "utf-8";
/* main.css */

/* 기본 서식 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ol,
ul,
li {
  list-style: none;
}

a {
  color: #333;
  text-decoration: none;
}

body {
  font-family: '맑은 고딕', Arial, sans-serif;
  font-size: 13px;
  color: #333;
}

/* 레이아웃 서식 */
header {
  height: 100px;
  background-color: yellow;
  text-align: center;
}

.slide {
  width: 100%;
  height: 754px;
  overflow: hidden;
}

.slide h2,
.slide input[type="radio"] {
  display: none;
}

.slide ul {
  display: flex;
  position: relative;
  transition: 0.5s;
}

.slide ul li {
  position: relative;
}

.slide ul li a h3 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 30px 10px;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
}

.slide .ctrl_btn {
  text-align: center;
  position: absolute;
  bottom: 160px;
  width: 100%;
}

.slide .ctrl_btn label {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin: 0 4px;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
}

/* checked */
#btn01:checked~.ctrl_btn label[for="btn01"],
#btn02:checked~.ctrl_btn label[for="btn02"],
#btn03:checked~.ctrl_btn label[for="btn03"],
#btn04:checked~.ctrl_btn label[for="btn04"] {
  background-color: yellow;
}

#btn01:checked~ul {
  left: 0;
}

#btn02:checked~ul {
  /* left: -100%; */
  left: -1920px;
}

#btn03:checked~ul {
  /* left: -200%; */
  left: -3840px;
}

#btn04:checked~ul {
  /* left: -300%; */
  left: -5760px;
}

footer {
  height: 50px;
  background-color: #333;
  color: #fff;
  /* line-height: 50px; */
  text-align: center;
  padding: 10px 0;
}

footer address {
  font-style: normal;
}