@charset "utf-8";

/* layout.css */
#toggle_btn {
  display: none;
}

/* 1. 헤더 영역 */
header {
  height: 52px;
  position: relative;
}

header h1 {
  text-align: center;
}

header h1 a img {
  width: 160px;
  padding-top: 10px;
}

/* 왼쪽 토글 버튼 위치 */
label[for=toggle_btn] {
  position: absolute;
  left: 10px;
  top: 10px;
}

label img {
  width: 34px;
}

/* 오른쪽 장바구니 위치 */
.cart_btn {
  position: absolute;
  right: 10px;
  top: 10px;
}

/* 2. 메인 콘텐츠 영역 */
.slide h2 {
  display: none;
}

.slide a img {
  width: 100%;
}

/* 3. 푸터 영역 */
footer {
  height: 40px;
}

/* 
  블럭요소 가로 배치
  1. display : inline;
  2. float : left;
  3. display: flex;
*/

footer nav {
  padding: 10px 0;
  height: 50px;
}

footer nav ul li {
  float: left;
  width: 50%;
  text-align: center;
}

footer nav ul li:first-child {
  /* 50%를 초과하기 때문에 뒤에 요소가 내려감 */
  border-right: 1px solid #333;
  /* 50% 사이즈 안에 테두리값을 포함하여 계산해야 뒤 li 요소가 내려가지 않음 */
  box-sizing: border-box;
}

footer nav ul li a {
  color: #333;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
}

footer nav ul li a img {
  height: 50px;
  vertical-align: middle;
}