@charset "uft-8";

/* reset */
* {
  margin: 0;
  padding: 0;
  color: #333;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-weight: normal;
}

article {
  width: 1024px;
  margin: auto;
  padding: 20px 60px;
  border: 2px solid #000;
}

article h2 {
  text-align: center;
  margin-bottom: 20px;
}

article h2 strong {
  font-weight: bold;
}

article .img-wrap {
  position: relative;
}

article .img-wrap ul {
  display: flex;
  gap: 10px;
}

article .img-wrap ul li {
  flex: 1;
}

article .img-wrap ul li img {
  width: 100%;
}

article .img-wrap .fa-solid {
  font-size: 50px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

article .img-wrap .fa-chevron-left {
  left: -60px;
}

article .img-wrap .fa-chevron-right {
  right: -60px;
}