@charset "utf-8";

/* 기본 서식 */
* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 24px;
}

h2,
h3,
p {
  padding: 15px;
  font-weight: bold;
}

/* 목록 공통 서식 */
ul {
  width: 800px;
  border: 1px solid #000;
  padding: 10px;
  background-color: #ccc;
}

ul li {
  list-style: none;
  background-color: #ff0;
  border: 1px solid #333;
  width: 180px;
  line-height: 50px;
  text-align: center;
}

/* 각 리스트별 가로 배치하기 */
/* 
    1번 방식 => display: inline
    장점 : 가로 방향으로 배치 가능
    단점 : 블럭 요소가 아니기 때문에 크기값이 없다.
    (패딩으로 크기 설정 가능)
  */
.list01 {
  text-align: center;
}

.list01 li {
  display: inline;
  width: 100px;
  height: 40px;
  padding: 20px 40px;
}

/* 
  2번 방식 => display: inline-block
  장점 : 가로 배치가 가능, 크기값을 가짐
  단점 : 인라인 성격도 가지기 때문에 약간의 틈이 발생
*/
.list02 {
  text-align: center;
}

.list02 li {
  display: inline-block;
  width: 150px;
}

/* 
  3번 방식 => float: left
  float는 기존의 흐름을 벗어나 가로 배치하는 방식
  장점 : 여백을 주지 않고 옆으로 딱 붙어서 가로 배치
  단점 : 부모 높이가 자식 요소의 높이를 인식하지 못함. 아래 다른 요소가 현재 영역을 침범함.

  해결방법1 : float 속성을 적용한 요소의 다음 요소에 clear 속성을 적용
  해결방법2 : ::after 선택자를 사용하여 부모 요소의 뒤쪽에 빈공간을 만들어서 높이를 강제로 설정하도록 함
*/
.list03 {}

.list03 li {
  float: left;
}

.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

/* 
  4번 방식 => display: flex
  부모 요소에 적용해야 자식 요소가 가로 배치 됨
  장점 : 완벽한 수평/수직 정렬, 여백에 있어서 레이아웃이 깨지지 않음, 부모 높이가 살아있음.
  단점 : 구형 브라우저(ie 9)에서는 적용안됨(최신 버전으로 업데이트 해야)
*/
.list04 {
  display: flex;
  justify-content: space-around;
}

.list04 li {}

/* 
  5번 방식 => display: grid
  장점 : flex 속성보다 가로, 세로 배치가 가능(2차원 배열)
  단점 : 속성의 종류가 너무 많아 복잡한 면이 있다
*/
.list05 {
  display: grid;
  /* 가로 방향으로 나눌 때 */
  grid-template-columns: repeat(4, auto);
  /* 세로 방향으로 나눌 때 */
  /* grid-template-columns: repeat(4, auto); */
}

.list05 li {}