@charset "utf-8";

/* header서식 */
header{
  background-color:#0d4633;
  height:147px;
}

.h_inner{
  width:1000px;height:147px;
  margin:0px auto;
}
.h_inner > h1 img{height:103px;}

/* 메인서식 */
main{}
.slide{height:459px;}

/* 콘텐츠 영역1 서식 */
.con1{
  width:1000px;
  margin:0px auto;
  display:flex; /* 2차원 배열(가로, 세로)*/
  flex-wrap:wrap;
  justify-content: space-between;
}

.open{
  width:393px;height:405px;
  background-color:aquamarine;
  /* float:left; */
  margin-bottom:10px;
}
.recommand{
  width:595px;height:405px;
  background-color:bisque;
  /* float:right; */
  margin-bottom:10px;
}
.banner{
  width:393px;height:171px;
  background-color:rgb(63, 153, 123);
}
.banner365{
  width:596px;height:171px;
  background-color:rgb(173, 122, 46);
}

/* 매장찾기, 제휴할인 */
.con2{
  width:1000px;
  margin:15px auto;
}
.search{
  width:596px;height:263px;
  background-color:aqua;
  float:left;
}

.sale{
  width:393px;height:263px;
  background-color:blueviolet;
  float:right;
}

/* 콘텐츠3 영역 서식 */
.con3{
  width:1000px;
  margin:0px auto;
  clear:both; /* 위에서 사용된 float속성을 해제 속성 */
  display:flex;
  justify-content:space-between;
  padding-top:15px;
}
.con3 > .info{
  width:596px;height:131px;
  background-color:#94c794;
}
.con3 > .notice{
  width:393px;height:131px;
  background-color:aquamarine;
}

/* 푸터서식 */
footer{
  background-color:#2e2f2e;
  height:212px;
}