@charset "UTF-8";
/* 변수 */
/* mixin */
/* 기본 */
body,
a {
  color: #333;
  font-family: "Noto Sans", Arial, sans-serif;
  font-size: 14px;
}

/* header */
header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  padding: 30px 20px;
  box-sizing: border-box;
}
header h1 {
  width: 250px;
}
header h1 img {
  width: 100%;
}
header #toggle {
  display: none;
}

/* gnb */
.gnb > ul {
  display: flex;
  align-items: center;
  gap: 30px;
}
.gnb > ul > li {
  position: relative;
}
.gnb > ul > li > a {
  color: #fff;
  font-size: 17px;
}
.gnb > ul > li > a > .fa-solid {
  margin-right: 5px;
}
.gnb > ul > li:last-child a {
  display: block;
  background: #333;
  padding: 10px;
  font-size: 14px;
}
.gnb > ul > li:nth-child(2) .sub {
  min-width: 300px;
}
.gnb .sub {
  display: none;
  position: absolute;
  left: 0;
  top: 150%;
  min-width: 160px;
  width: 100%;
  padding: 10px 0;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
}
.gnb .sub.act {
  display: block;
}
.gnb .sub li a {
  display: block;
  padding: 10px 20px;
  text-transform: uppercase;
  transition: 0.3s;
}
.gnb .sub li a:hover {
  background: #f36f21;
  color: #fff;
}

/* footer */
footer {
  background: #555;
}
footer .top {
  max-width: 1200px;
  width: 100%;
  margin: auto;
  padding: 50px 0;
  box-sizing: border-box;
}
footer .top h2 {
  display: none;
}
footer .f-nav {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
}
footer .f-nav .gnb {
  display: flex;
  gap: 30px;
}
footer .f-nav .gnb > li > a {
  display: block;
  color: #ffc845;
  font-size: 17px;
  padding: 8px 0;
  transition: 0.5s;
}
footer .f-nav .gnb > li > a:hover {
  filter: invert(1);
}
footer .f-nav .gnb > li ul li a {
  display: block;
  color: #ccc;
  padding: 8px 0;
  transition: 0.5s;
}
footer .f-nav .gnb > li ul li a:hover {
  color: #f36f21;
}
footer .f-nav .connect h3 {
  margin-bottom: 10px;
  color: #fff;
  font-weight: bold;
  font-size: 17px;
  padding: 8px 0;
}
footer .f-nav .connect ul {
  display: flex;
  gap: 10px;
}
footer .f-nav .connect ul li a {
  display: block;
  padding: 5px;
  color: #fff;
  border: 1px solid #fff;
  transition: 0.5s;
}
footer .f-nav .connect ul li a:hover {
  border-color: #f36f21;
  color: #f36f21;
}
footer .bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  background: #333;
  box-sizing: border-box;
}
footer .bottom .logo {
  width: 150px;
}
footer .bottom .logo img {
  width: 100%;
}
footer .bottom address {
  color: #ccc;
}

/* top버튼 */
.top-btn {
  position: fixed;
  right: 50px;
  bottom: 50px;
  width: 50px;
  height: 50px;
  background: #ffc845;
  border: 1px solid #f36f21;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
}
.top-btn i {
  display: inline-block;
}

@media screen and (min-width: 769px) and (max-width: 1023px) {
  /* header */
  header {
    padding: 10px;
  }
  header h1 {
    width: 180px;
  }
  /* gnb */
  .gnb > ul {
    gap: 15px;
  }
  .gnb > ul > li > a {
    font-size: 0.875rem;
  }
  .gnb > ul > li:nth-child(2) .sub {
    min-width: 240px;
  }
  .gnb .sub {
    min-width: 130px;
  }
  .gnb .sub li a {
    padding: 10px;
    font-size: 0.75rem;
  }
  /* footer */
  footer .f-nav {
    gap: 10px;
  }
  footer .f-nav .gnb {
    gap: 10px;
  }
  footer .f-nav .gnb > li > a {
    font-size: 0.875rem;
  }
  footer .f-nav .connect h3 {
    font-size: 0.875rem;
  }
}
@media screen and (max-width: 768px) {
  /* header */
  header {
    padding: 10px;
  }
  header #toggle {
    display: block;
    position: relative;
    width: 30px;
    height: 30px;
    background: rgba(255, 200, 69, 0.2);
    border: 1px solid #fff;
    cursor: pointer;
  }
  header #toggle span {
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
    height: 2px;
    background: #fff;
  }
  header #toggle span:nth-child(1) {
    top: 8px;
  }
  header #toggle span:nth-child(2) {
    top: 50%;
    transform: translate(-50%, -50%);
  }
  header #toggle span:nth-child(3) {
    bottom: 8px;
  }
  /* gnb */
  .gnb {
    overflow: hidden;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 100%;
    width: 90%;
    height: 0;
    background: #fff;
    transition: 0.5s;
  }
  .gnb.act {
    height: 212px;
  }
  .gnb > ul {
    display: block;
    padding: 10px 0;
  }
  .gnb > ul > li {
    text-align: center;
  }
  .gnb > ul > li > a {
    display: block;
    padding: 10px 0;
    color: #333;
    font-size: 0.75rem;
  }
  .gnb > ul > li:last-child a {
    background: #f36f21;
    color: #fff;
    font-size: 0.75rem;
  }
  .gnb .sub {
    top: 100%;
    z-index: 10;
    padding: 5px 0;
    background: #ccc;
    border-radius: 0;
    box-sizing: border-box;
  }
  .gnb .sub li a {
    padding: 10px;
    font-size: 0.75rem;
  }
  /* footer */
  footer .top {
    padding: 30px 10px;
  }
  footer .f-nav {
    display: block;
  }
  footer .f-nav .gnb {
    flex-wrap: wrap;
    gap: 20px 0;
  }
  footer .f-nav .gnb > li {
    width: 50%;
  }
  footer .f-nav .connect h3 {
    text-align: center;
  }
  footer .f-nav .connect ul {
    justify-content: center;
  }
  footer .bottom {
    display: block;
    padding: 20px 10px;
  }
  footer .bottom .logo {
    margin: 0 auto 20px;
  }
  footer .bottom address {
    text-align: center;
  }
}/*# sourceMappingURL=common.css.map */