@use 'base' as *;

/* 기본 */
body,
a {
  color: $colorBlack;
  font-family: "Noto Sans", Arial, sans-serif;
  font-size: $fontSizeBase;
}

/* header */
header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  padding: 30px 20px;
  box-sizing: border-box;

  h1 {
    width: 250px;

    img {
      width: 100%;
    }
  }

  #toggle {
    display: none;
  }
}

/* gnb */
.gnb {
  >ul {
    display: flex;
    align-items: center;
    gap: 30px;

    >li {
      position: relative;

      >a {
        color: $colorWhite;
        font-size: $fontSizeM;

        >.fa-solid {
          margin-right: 5px;
        }
      }

      &:last-child a {
        display: block;
        background: $colorBlack;
        padding: 10px;
        font-size: $fontSizeBase;
      }

      &:nth-child(2) .sub {
        min-width: 300px;
      }
    }
  }

  .sub {
    display: none;
    position: absolute;
    left: 0;
    top: 150%;
    min-width: 160px;
    width: 100%;
    padding: 10px 0;
    background: $colorWhite;
    border: 1px solid $colorGray;
    border-radius: 5px;
    text-align: center;

    &.act {
      display: block;
    }

    li {
      a {
        display: block;
        padding: 10px 20px;
        text-transform: uppercase;
        transition: 0.3s;

        &:hover {
          background: $colorMain;
          color: $colorWhite;
        }
      }
    }
  }
}

/* footer */
footer {
  background: #555;

  .top {
    @include inner();
    margin: auto;
    padding: 50px 0;
    box-sizing: border-box;

    h2 {
      display: none;
    }
  }

  .f-nav {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;

    .gnb {
      display: flex;
      gap: 30px;

      >li {
        >a {
          display: block;
          color: $colorSub;
          font-size: $fontSizeM;
          padding: 8px 0;
          transition: 0.5s;

          &:hover {
            filter: invert(1);
          }
        }

        ul {
          li {
            a {
              display: block;
              color: $colorGray;
              padding: 8px 0;
              transition: 0.5s;

              &:hover {
                color: $colorMain;
              }
            }
          }
        }
      }
    }

    .connect {
      h3 {
        margin-bottom: 10px;
        color: $colorWhite;
        font-weight: bold;
        font-size: $fontSizeM;
        padding: 8px 0;
      }

      ul {
        display: flex;
        gap: 10px;

        li {
          a {
            display: block;
            padding: 5px;
            color: $colorWhite;
            border: 1px solid $colorWhite;
            transition: 0.5s;

            &:hover {
              border-color: $colorMain;
              color: $colorMain;
            }
          }
        }
      }
    }
  }

  .bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    background: $colorBlack;
    box-sizing: border-box;

    .logo {
      width: 150px;

      img {
        width: 100%;
      }
    }

    address {
      color: $colorGray
    }
  }
}

/* top버튼 */
.top-btn {
  position: fixed;
  right: 50px;
  bottom: 50px;
  width: 50px;
  height: 50px;
  background: $colorSub;
  border: 1px solid $colorMain;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;

  i {
    display: inline-block;
  }
}

@media screen and (min-width: 769px) and (max-width: 1023px) {

  /* header */
  header {
    padding: 10px;

    h1 {
      width: 180px;
    }
  }

  /* gnb */
  .gnb {
    >ul {
      gap: 15px;

      >li {
        >a {
          font-size: 0.875rem;
        }

        &:nth-child(2) .sub {
          min-width: 240px;
        }
      }
    }

    .sub {
      min-width: 130px;

      li {
        a {
          padding: 10px;
          font-size: 0.75rem;
        }
      }
    }
  }

  /* footer */
  footer {
    .f-nav {
      gap: 10px;

      .gnb {
        gap: 10px;

        >li {
          >a {
            font-size: 0.875rem;
          }
        }
      }

      .connect {
        h3 {
          font-size: 0.875rem;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {

  /* header */
  header {
    padding: 10px;

    #toggle {
      display: block;
      position: relative;
      width: 30px;
      height: 30px;
      background: rgba($color: $colorSub, $alpha: 0.2);
      border: 1px solid $colorWhite;
      cursor: pointer;

      span {
        display: block;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 60%;
        height: 2px;
        background: $colorWhite;

        &:nth-child(1) {
          top: 8px;
        }

        &:nth-child(2) {
          top: 50%;
          transform: translate(-50%, -50%);
        }

        &:nth-child(3) {
          bottom: 8px;
        }
      }
    }
  }

  /* gnb */
  .gnb {
    overflow: hidden;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 100%;
    width: 90%;
    height: 0;
    background: $colorWhite;
    transition: 0.5s;

    &.act {
      height: 212px;
    }

    >ul {
      display: block;
      padding: 10px 0;

      >li {
        text-align: center;

        >a {
          display: block;
          padding: 10px 0;
          color: $colorBlack;
          font-size: 0.75rem;
        }

        &:last-child a {
          background: $colorMain;
          color: $colorWhite;
          font-size: 0.75rem;
        }
      }
    }

    .sub {
      top: 100%;
      z-index: 10;
      padding: 5px 0;
      background: $colorGray;
      border-radius: 0;
      box-sizing: border-box;

      li {
        a {
          padding: 10px;
          font-size: 0.75rem;
        }
      }
    }
  }

  /* footer */
  footer {
    .top {
      padding: 30px 10px;
    }

    .f-nav {
      display: block;

      .gnb {
        flex-wrap: wrap;
        gap: 20px 0;

        >li {
          width: 50%;
        }
      }

      .connect {
        h3 {
          text-align: center;
        }

        ul {
          justify-content: center;
        }
      }
    }

    .bottom {
      display: block;
      padding: 20px 10px;

      .logo {
        margin: 0 auto 20px;
      }

      address {
        text-align: center;
      }
    }
  }
}