// @import 'base';
@use 'base' as *;

/* main */
main {
  .inner {
    position: relative;
    @include inner();
    margin: auto;
    padding: 105px 10px;
    box-sizing: border-box;
  }

  .main-sub-title {
    font-size: 18px;
  }

  .main-title {
    font-size: 45px;
    font-weight: bold;
  }
}

/* visual */
.visual {
  height: 750px;

  .visual-swiper {
    height: 100%;
  }

  .swiper-slide {
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .swiper-button-next,
  .swiper-button-prev {
    width: 40px;
    padding: 10px;
    background: $colorGray;
    color: $colorBlack;
    box-sizing: border-box;
    top: auto;
    bottom: 150px;
    right: auto;
    margin: auto;
  }

  .swiper-button-prev {
    left: 50px;
  }

  .swiper-button-next {
    left: 100px;
  }

  .swiper-pagination {
    bottom: auto;
    left: auto;
    top: 50%;
    transform: translateY(-50%);
    right: 50px;
    width: auto;
  }

  .swiper-pagination-bullet {
    display: block;
    margin: 10px 0 !important;
  }

  .swiper-pagination-bullet-active {
    background: $colorSub;
  }
}

/* miero-youtube */
.miero-youtube {
  .inner {
    display: flex;
    align-items: flex-start;
    gap: 20px;
  }

  .youtube {
    width: 60%;

    .main-title {
      width: 280px;
      margin-bottom: 10px;

      img {
        width: 100%;
      }
    }

    .box {
      position: relative;
      width: 100%;
      padding-bottom: 56.25%;

      iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }

  .news {
    width: calc(40% - 20px);


    .main-title {
      margin-bottom: 20px;
    }

    .list {
      li {
        position: relative;
        margin: 5px 0;

        &::before {
          content: '\4f';
          margin-right: 10px;
          font-size: 15px;
          font-weight: 700;
          color: $colorMain;
        }

        a {
          font-size: 15px;
        }
      }
    }
  }
}

/* dietary-fiber */
.dietary-fiber {
  background: #f1f1f1;

  .main-title {
    margin-bottom: 20px;
  }

  .tab-title {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;

    li {
      button {
        padding: 10px 20px;
        background: $colorBlack;
        border: none;
        color: $colorWhite;
        cursor: pointer;
      }

      &.act button {
        background: $colorMain;
      }
    }
  }

  .tab-con {
    >li {
      display: none;
      justify-content: center;
      align-items: flex-start;

      &.act {
        display: flex;
      }

      .txt-box {
        width: 50%;

        .tab-title {
          font-size: 28px;
          font-weight: bold;
        }

        p {
          font-size: 16px;
          line-height: 1.8;
        }

        ul {
          li {
            &~li {
              border-top: 1px solid $colorGray;
            }

            img {
              width: 100%;
            }
          }
        }

        span {
          display: block;
          margin-top: 30px;
          color: #999;
          font-size: 12px;

          &~span {
            margin-top: 5px;
          }
        }
      }

      >img {
        width: 50%;
      }
    }
  }
}

/* miero-fiber */
.miero-fiber {
  background: $colorSub;

  .main-title {
    margin-bottom: 20px;
  }

  .list {
    display: flex;
    gap: 1%;

    li {
      width: 33%;

      img {
        width: 100%;
      }

      h3 {
        height: 95px;
        padding: 20px 0;
        font-size: 27px;
        font-weight: 500;
        border-bottom: 1px solid $colorMain;
        box-sizing: border-box;
      }

      p {
        padding: 20px 0;
        font-size: 15px;
        line-height: 1.8;
      }
    }
  }
}

/* miero-event */
.miero-event {
  overflow: hidden;

  .main-title {
    margin-bottom: 20px;
  }

  .swiper-slide {
    a {
      display: flex;
      justify-content: space-between;
      gap: 20px;
    }

    .img {
      width: 65%;

      img {
        width: 100%;
      }
    }

    .txt {
      width: calc(100% - 65% - 20px);
      padding-top: 50px;
    }

    .tag {
      display: inline-block;
      margin-bottom: 10px;
      padding: 3px;
      background: $colorGray;
      color: $colorBlack;
      border-radius: 2px;
    }

    .tit {
      margin-bottom: 20px;
      font-size: 18px;
    }
  }

  .swiper-button-next,
  .swiper-button-prev {
    padding: 10px;
    border: 1px solid $colorBlack;
    border-radius: 50%;
    box-sizing: border-box;
    color: $colorBlack;
  }

  .swiper-button-prev {
    left: -40px;
  }

  .swiper-button-next {
    right: -40px;
  }
}

/* miero-story */
.miero-story {
  background: $colorMain;

  .main-title {
    color: $colorWhite;
    margin-bottom: 20px;
  }

  ul {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
    grid-gap: 20px;
    margin-bottom: 20px;

    li {
      position: relative;
      overflow: hidden;

      &.item02 {
        grid-column: 2/3;
        grid-row: 1/3;
      }

      a {
        display: block;
        width: 100%;
        height: 100%;
      }

      &:hover a figure figcaption {
        bottom: 0;
        opacity: 1;
      }
    }
  }

  figure {
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    figcaption {
      background-color: #000;
      color: $colorWhite;
      width: 100%;
      padding: 20px;
      box-sizing: border-box;
      position: absolute;
      left: 0;
      bottom: -100px;
      transition: 0.5s;
      opacity: 0;

      h3 {
        color: $colorMain;
        font-size: 22px;
        margin-bottom: 10px;
      }

      span {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 20px;
        border: 1px solid $colorWhite;
        padding: 5px 10px;
      }
    }
  }

  .more-box {
    text-align: center;

    .more-btn {
      padding: 6px 20px;
      background: $colorWhite;
      color: $colorBlack;
      font-size: 14px;
      border-radius: 10px;
    }
  }

  #list {
    margin: 30px 0;
  }
}

@media screen and (min-width: 769px) and (max-width: 1023px) {

  /* main */
  main {
    .inner {
      padding: 80px 10px;
    }
  }

  /* miero-youtube */
  .miero-youtube {
    .inner {
      display: block;
    }

    .youtube,
    .news {
      width: 80%;
      margin: auto;
    }

    .youtube {
      margin-bottom: 20px;
    }
  }

  /* miero-fiber */
  .miero-fiber {
    width: 100%;

    .inner {
      width: 80%;
    }

    .list {
      display: block;

      li {
        h3 {
          height: auto;
        }
      }
    }
  }

  /* dietary-fiber */
  .dietary-fiber {
    .inner {
      width: 80%;
      margin: auto;
    }

    .tab-con {
      >li {
        flex-wrap: wrap;

        .txt-box {
          width: 100%;
        }

        >img {
          width: 100%;
        }
      }
    }
  }

  /* miero-event */
  .miero-event {

    .inner {
      width: 80%;
    }

    .swiper-slide {
      a {
        display: block;
      }

      .img {
        width: 100%;
        margin-bottom: 20px;
      }

      .txt {
        width: 100%;
        padding-top: 0;
      }
    }

    .swiper-button-prev {
      left: 0;
    }

    .swiper-button-next {
      right: 0;
    }
  }

  /* miero-story */
  .miero-story {
    .inner {
      width: 80%;
    }
  }
}

@media screen and (max-width: 768px) {

  /* main */
  main {
    .inner {
      padding: 50px 10px;
    }
  }


  /* miero-youtube */
  .miero-youtube {
    .inner {
      display: block;
    }

    .youtube,
    .news {
      width: 100%;
    }

    .youtube {
      margin-bottom: 20px;
    }
  }

  /* miero-fiber */
  .miero-fiber {
    .list {
      display: block;

      li {
        width: 100%;

        h3 {
          height: auto;
        }
      }
    }
  }

  /* dietary-fiber */
  .dietary-fiber {
    .tab-con {
      >li {
        flex-wrap: wrap;

        .txt-box {
          width: 100%;
        }

        >img {
          width: 100%;
        }
      }
    }
  }

  /* miero-event */
  .miero-event {
    .swiper-slide {
      a {
        display: block;
      }

      .img {
        width: 100%;
        margin-bottom: 20px;
      }

      .txt {
        width: 100%;
        padding-top: 0;
      }
    }

    .swiper-button-prev {
      left: 0;
    }

    .swiper-button-next {
      right: 0;
    }
  }

  /* miero-story */
  .miero-story {
    ul {
      display: block;
    }
  }
}