@use 'base' as *;

body {
  >header {
    position: relative;
    height: 250px;
    background: url(https://hrkim0413.dothome.co.kr/miero/images/sub_bg1.jpg) no-repeat center / 100%;
  }
}

section {
  .inner {
    @include inner();
    margin: auto;
    height: 100vh;
    background: $colorMain;
    color: $colorWhite;
  }
}