@charset "utf-8";

/* grid 레이아웃 */
#container {
  width: 1024px;
  margin: auto;
  background-color: yellow;
  display: grid;
  grid-gap: 10px;
  /* grid-template-rows: repeat(3, auto);
  grid-template-columns: repeat(12, auto); */
  grid-template-areas:
    "header header header header header header"
    "nav section section section article article"
    "nav footer footer footer footer footer";
}

/* 헤더 서식 */
header {
  background-color: #333;
  color: #fff;
  line-height: 80px;
  /* grid-area: 1/1/2/13; */
  grid-area: header;
}

nav {
  background-color: antiquewhite;
  width: 100px;
  height: 600px;
  /* grid-area: 2/1/4/2; */
  grid-area: nav;
}

section {
  width: 690px;
  height: 500px;
  background-color: aquamarine;
  /* grid-area: 2/2/3/9; */
  grid-area: section;
}

article {
  width: 215px;
  height: 500px;
  background-color: blueviolet;
  /* grid-area: 2/9/3/13; */
  grid-area: article;
}

footer {
  line-height: 80px;
  background-color: #333;
  color: #fff;
  /* grid-area: 3/2/4/13; */
  grid-area: footer;
}