@charset "utf-8";

.main_visual {
  position: relative;
  width: 100%;
  overflow: hidden;
  /* height:70vh; 높이 상대단위 */
}

.main_visual .swiper {
  position: relative;
  width: 100%;
  height: 100vh;
}

.main_visual>h2 {
  display: none;
}

.main_visual img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#cont1,
#cont2,
#cont3,
#cont4,
#cont5 {
  width: 1200px;
  height: 700px;
  margin: 20px auto;
  /* 화면 중앙에 콘텐츠 배치 */
  background-color: #cccccc;
}

/* 2. PASCUCCI 스토리 */
#cont1 {
  background-color: transparent;
  padding: 30px 0;
}

.c_title,
.sub_title,
.tab_menu {
  text-align: center;
}

.c_title {
  font-size: 30px;
  line-height: 40px;
}

.sub_title {
  font-size: 16px;
  font-family: '바탕체', sans-serif;
}

.tab_menu {
  padding-top: 60px;
}

.tab_menu input[type="radio"] {
  display: none;
}

.tab_menu .menu_btn {
  display: inline-block;
  width: 100px;
  margin: 0 10px;
  padding: 6px 0;
  font-size: 16px;
  border-radius: 20px;
  cursor: pointer;
  background-color: #211613;
  color: #FAF9F9;
}

.tab_menu input[type="radio"]:checked+.menu_btn {
  background-color: #E41937;
}

.tab_menu .season_m,
.tab_menu .hit_m {
  display: none;
  margin-top: 50px;
}

.tab_menu #tab_01:checked~.season_m,
.tab_menu #tab_02:checked~.hit_m {
  display: block;
}

.tab_menu>div .swiper figure {
  width: 220px;
  height: 250px;
  margin: auto;
}

.tab_menu>div .swiper figure img {
  width: 100%;
}

.tab_menu .more_btn {
  margin-top: 100px;
}

.tab_menu .more_btn a {
  padding: 10px 60px;
  border: 1px solid #333;
  transition: 0.5s;
}

.tab_menu .more_btn a:hover {
  background-color: #333;
  color: #fff;
}