@charset "utf-8";

* {
  margin: 0;
  padding: 0;
}

/* layout3.css */
header,
main,
footer {
  width: 1440px;
  margin: 0 auto;
}

header {
  height: 120px;
  background: #ff8888;
  margin-bottom: 10px;
}

main {
  /* background: #fff017; */
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

section {
  width: 820px;
  height: 500px;
  background: #55bd48;
}

article {
  width: 400px;
  height: 500px;
  background: #c53faf;
}

aside {
  width: 200px;
  height: 500px;
  background: #3fc5af;
}

footer {
  height: 60px;
  background: #333;
  color: #fff;
}