@charset "utf-8";

/* layout1.css */
header,
main,
footer {
  width: 1440px;
  margin: 0 auto;
}

header {
  height: 120px;
  background: #ff8888;
}

main {
  height: 500px;
  background: #fff017;
}

footer {
  height: 60px;
  background: #333;
  color: #fff;
}