/* style2.scss */

// 실습1. 가로 1180박스 안에 12개의 컬럼을 지정하고 각각 박스에 몇컬럼을 적용할 것인지 설정하는 함수 만들기
$max_width: 1180px;

@function column($number: 1, $all: 12) {
  @return $max_width*($number/$all);
}

.wrap {
  width: $max_width;
  border: 3px solid #00f;

  >div {
    height: 100px;
    margin: 10px 0;
    background: #f00;
  }
}

.box01 {
  width: column();
}

.box02 {
  width: column(6);
}

.box03 {
  width: column(12);
}

// 실습2. 내장함수로 버튼 서식 변경하기
$mainColor: #e134ad;
$t_color: #fff;

.btn {
  border: none;
  padding: 5px 20px;
  border-radius: 5px;
  background: $mainColor;
  color: $t_color;

  &.btn2 {
    background: lighten($mainColor, 20%);
  }
}

@function my-lighten($num) {
  @return 0.1*$num;
}

.btn3 {
  opacity: my-lighten(8);
}

.btn4 {
  opacity: my-lighten(6);
}

.btn5 {
  opacity: my-lighten(4);
}

.btn6 {
  opacity: my-lighten(3);
}

.btn7 {
  opacity: my-lighten(2);
}

.btn8 {
  opacity: my-lighten(1);
}