@charset "utf-8";

/* @import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* 공통 서식 */
body {
  font-family: "Noto Sans", "Nanum Gothic", Arial;
  font-size: 12px;
  color: #333;
  line-height: 160%;
}

a {
  color: #333;
  text-decoration: none;
}

/* 레이아웃 서식 */
#header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.black_bg {
  background-color: #000;
}

/* top, bottom 공통 */
#header .h_top,
#header #h_bottom {
  width: 1400px;
  margin: 0 auto;
}

/* sns 메뉴 */
#header .h_top {
  padding-top: 16px;
}

#header .h_top ul {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 5px;
}

#header .h_top ul li a i {
  font-size: 20px;
  color: #faf9f9;
}

#header .h_top ul li a .happy_con {
  height: 24px;
  margin-left: 5px;
}

/* logo */
#h_bottom {
  position: relative;
  display: flex;
}

#h_bottom h1 {
  width: 220px;
}

#h_bottom h1 a img {
  width: 100%;
}

/* gnb */
#gnb {
  width: 800px;
  padding: 15px 0;
}

#gnb>ul {
  display: flex;
}

#gnb>ul>li {
  text-align-last: left;
  padding-left: 45px;
}

#gnb>ul>li>a {
  color: #faf9f9;
  font-size: 14px;
  font-weight: bold;
}

#gnb>ul>li>a:hover {
  text-decoration: underline;
}

/* gnb sub */
.sub {
  padding: 20px 0;
}

.sub li {
  text-align-last: left;
}

.sub li a {
  color: #faf9f9;
  font-size: 14px;
}

.sub li a:hover {
  text-decoration: underline;
}

/* 검색창 */
#search_box {
  padding: 12px 0 0 8px;
}

#search_box input {
  width: 200px;
  height: 30px;
  border-radius: 26px;
  border: none;
  background-color: #f41937;
  color: #faf9f9;
  text-indent: 10px;
}

#search_box input::placeholder {
  color: #faf9f9;
  padding-left: 8px;
}

#search_box label i {
  color: #faf9f9;
  font-size: 14px;
  transform: translateX(-32px);
}

/* 로그인, 언어 선택 */
.gnb_etc {
  position: absolute;
  right: 0;
}

.gnb_etc ul {
  display: flex;
}

.gnb_etc ul li {
  line-height: 54px;
}

.gnb_etc ul li a i {
  font-size: 20px;
  color: #faf9f9;
  transform: translateY(4px);
}

#lang {
  width: 92px;
  height: 30px;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  color: #faf9f9;
  margin-left: 30px;
}

#lang option {
  background-color: #211613;
  padding: 10px;
}