@media screen and (min-width: 1025px) {

  /* footer */
  footer {
    width: 100%;
    padding: 10px 0;
    background: rgb(241, 241, 241);
    border-top: 1px solid #bdbdbd;
  }

  footer .f_inner {
    width: 1200px;
    margin: 0 auto;
  }

  footer .f_lnb ul {
    display: flex;
    justify-content: left;
  }

  footer .f_lnb ul li {
    margin: 0 10px;
  }

  footer .f_lnb ul li a {
    line-height: 160%;
  }

  footer .sns ul {
    display: flex;
    justify-content: right;
  }

  footer .sns li {
    margin: 0 2px;
  }

  footer address p {
    line-height: 28px;
  }
}