@charset "utf-8";

/* reset */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: '맑은 고딕', Arial, sans-serif;
  font-size: 13px;
  color: #333;
}

ul,
li,
ol {
  list-style: none;
}

a {
  color: #333;
  text-decoration: none;
}