@charset "utf-8";

/* main */
.story {
  background: #f36f21;
  padding: 50px 0;
}

.story h2 {
  color: #fff;
  font-size: 26px;
  width: 1200px;
  margin: 0 auto 20px;
}

.story ul {
  width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(3, auto);
  grid-gap: 20px;
}

.story ul li {
  position: relative;
  overflow: hidden;
}

.story ul .item02 {
  grid-column: 2/3;
  grid-row: 1/3;
}

.story ul li a figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.story ul li a figure figcaption {
  background-color: #000;
  color: #fff;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  position: absolute;
  left: 0;
  bottom: -100px;
  transition: 0.5s;
  opacity: 0;
}

.story ul li a figure figcaption h3 {
  color: #f36f21;
  font-size: 22px;
  margin-bottom: 10px;
}

.story ul li a figure figcaption span {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  border: 1px solid #fff;
  padding: 5px 10px;
}

/* hover */
.story ul li:hover a figure figcaption {
  bottom: 0;
  opacity: 1;
}