@charset "utf-8";

/* mobile.css */

/* 1. 공통서식 - 글자모양, 글자크기, 글자색상, 버튼색상 */
:root {
  /* 메인컬러 */
  --m_color: #00704a;
  /* 텍스트 컬러 */
  --txt_color: #333;
  /* 상단 배경 */
  --bg_color01: #f6f5ef;
  /* 하단 배경 */
  --bg_color02: #2c2a29;
}

body {
  font-family: '맑은 고딕', Arial, sans-serif;
  font-size: 0.75rem;
  color: var(--txt_color);
}

/* a태그 기본 서식 */
a {
  color: var(--txt_color);
  text-decoration: none;
}

/* 체크박스 숨기기 */
#toggle {
  display: none;
}

/* 체크박스 클릭시 gnb가 보이게 */
#toggle:checked+header .gnb {
  left: 0;
}

/* header */
header {
  height: 70px;
  background-color: var(--bg_color01);
  position: relative;
}

header h1 {
  width: 54px;
}

header h1 img {
  width: 100%;
  padding: 8px 0 0 10px;
}

/* 오른쪽 버튼 3개 서식 */
.login_btn,
.location_btn,
.toggle_btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.login_btn {
  right: 128px;
}

.login_btn img {
  width: 32px;
}

.location_btn {
  right: 78px;
}

.location_btn img {
  width: 28px;
}

.toggle_btn {
  right: 12px;
  cursor: pointer;
}

.toggle_btn img {
  width: 42px;
}


/* 내비게이션 */
.gnb {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  left: 100%;
  top: 0;
  transition: 0.5s;
  z-index: 10;
}

.gnb ul {
  width: 70%;
  height: 100%;
  background-color: var(--txt_color);
  position: absolute;
  top: 0;
  right: 0;
}

.gnb ul li {
  line-height: 50px;
  padding: 0 15px;
  border-bottom: 1px solid rgb(82, 82, 82);
}

.gnb ul li:first-child {
  padding: 12px 0;
  text-align: center;
}

.gnb ul li:first-child,
.gnb ul li:nth-child(2) {
  background-color: #2d2926;
}

.gnb ul li input {
  height: 50px;
  padding: 0 10px;
  border-radius: 3px;
  border: none;
}

.gnb ul li input[type="search"] {
  width: 60%;
  margin-right: 10px;
}

.gnb ul li input[type="button"] {
  width: 70px;
  background-color: rgb(121, 121, 121);
  color: #fff;
  text-transform: capitalize;
  cursor: pointer;
}

.gnb ul li a {
  color: #fff;
  font-size: 1rem;
  display: block;
}

.gnb ul li a:hover {
  text-decoration: underline;
}

.gnb ul li a .arrow {
  float: right;
  width: 32px;
  position: relative;
  top: 8px;
}

.gnb .close_btn {
  position: relative;
  top: 20px;
  left: 10px;
  cursor: pointer;
}

.gnb .close_btn img {
  transition: 1s;
}

.gnb .close_btn:hover img {
  transform: rotate(180deg);
}

/* main */
main {
  padding: 10px 10px;
}

.product {}

.product h2 {
  font-size: 18px;
  font-weight: bold;
}

.product h2,
.product p {
  background-color: #e0dfdf;
  text-indent: 15px;
  line-height: 40px;
}

.product h2 img {
  width: 40px;
  transform: translateY(8px);
}

.coffee_list {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.coffee_list li {
  width: 49%;
  overflow: hidden;
  text-align: center;
  position: relative;
}

.coffee_list li a img {
  width: 100%;
  transition: 0.5s;
}

.coffee_list li span {
  line-height: 50px;
  font-size: 16px;
  display: block;
  background-color: #fff;
  position: relative;
  z-index: 1;
}

.coffee_list li:hover img {
  transform: scale(1.1);
}

.coffee_list li .new_icon {
  background-color: var(--m_color);
  color: #fff;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  position: absolute;
  bottom: 70px;
  left: 10px;
}

/* footer */
footer {
  font-style: normal;
  text-align: center;
  line-height: 50px;
  background: var(--txt_color);
  color: #fff;
}