@media screen and (max-width: 767px) {

  /* common */
  header .header_inner,
  .gnb_wrap .gnb,
  footer .f_inner {
    width: 100%;
  }

  /* header */
  header .header_inner {
    height: 70px;
    background: #fff;
    box-shadow: 0 0 3px rgba(63, 63, 63);
  }

  header h1 {
    width: 100%;
    text-align: center;
    transform: none;
    padding-top: 10px;
  }

  header h1 a img {
    width: 130px;
  }

  header .lnb {
    display: none;
  }

  header #t_btn,
  header #m_search {
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 5px;
    font-size: 2rem;
  }

  header #t_btn {
    left: 10px;
  }

  header #m_search {
    right: 10px;
  }

  /* gnb */
  .gnb_wrap {
    display: none;
  }

  .gnb_wrap label[for="toggle_btn"] {
    display: block;
  }

  .gnb_wrap .gnb li a .fas {
    display: block;
  }

  /* footer */
  footer {
    font-size: 0.8rem;
  }

  footer .f_lnb ul {
    flex-wrap: wrap;
    justify-content: center;
  }

  footer .f_lnb ul li {
    line-height: 230%;
  }

  footer .sns ul {
    justify-content: center;
    padding: 10px 0;
  }

  footer address {
    text-align: center;
  }
}